<a href="https://colab.research.google.com/github/khalil0fficial/Python_Exercises/blob/main/Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ex1: Print First 10 natural numbers using while
"""
1
2
3
4
5
6
7
8
9
10
"""
count = 1
while (count <= 10):
  print(count)
  count += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# EX2 : Write a program to print the following number pattern using a loop
"""
1
1 2
1 2 3
1 2 3 4 
1 2 3 4 5
"""

for i in range(1,7):
  for j in range(1,i) :
    print(j, end =' ')
  print("\n")  
  i += 1

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
# EX3: Write a program to accept number from user and calculate the sum of all numbers from 1 to a given number
# For example, if the user entered 10.. the output should be 55 (1+2+3+4+5+6+7+8+9+10)

n = int(input("Enter a number:"))
count = 1
sum = 0
while count <= n :
  sum += count
  count = count + 1

print("Sum of 1 to {0} is : {1}".format(n, sum))

Enter a number:10
Sum of 1 to 10 is : 55

In [ ]:
# EX4: Write a program to print multiplication table of a given number
"""
2
4
6
8
10
12
14
16
18
20
"""

n = int(input("Enter a number:"))
for i in range(1, 11):
  print (i * n)

Enter a number:2
2
4
6
8
10
12
14
16
18
20

In [ ]:
# EX5: Display numbers from a list using loop.
""" 
Write a program to display only those numbers from a list that satisfy the following conditions
1. The number must be divisible by five
2. if the number greater than 150, then skip it and move the next number
3. if the number greater than 500, then stop the loop
"""

numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
  if  i > 150:
      if i > 500:
        break
      continue
  if i % 5 == 0:
    print(i)

75
150
145

In [ ]:
# EX6: Count the total numbers of digits in a number
"""
write a program to count the total of digits in a number using a while loop
for example, the number is 75869, so the output should be 5
"""

digits = input("Enter a number: ")
count = 0
for c in digits:
  count = count +1
print("The number is {0} and the count of its digits is {1}".format(digits,count))

Enter a number: 75869
The number is 75869 and the count of its digits is 5

In [ ]:
# EX7: Print the following pattern
"""
Write a program to use for loop to print the following reverse number pattern
5 4 3 2 1 
4 3 2 1
3 2 1
2 1
1
"""

for i in range(5, 0, -1):
  for j in range(i, 0, -1):
    print(j, end =' ')
  print("\n")

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [ ]:
# EX8: Print list in reverse order using a loop

list1 = [10, 20, 30, 40, 50]

# Using while loop
print('Reversed List using While Loop')
i = len(list1) - 1
while i >= 0:
  print(list1[i])
  i -= 1

# using for loop
print('Reversed List using For Loop')
for i in range(len(list1) - 1, -1, -1):
  print(list1[i])

Reversed List using While Loop
50
40
30
20
10
Reversed List using For Loop
50
40
30
20
10

In [ ]:
# EX9: Display from -10 to -1 using for loop

for i in range(-10, 0, 1):
  print(f"{i}")

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
# EX10: Use else block to display a message "Done" after sucessful execution of for loop
# For example, the following loop will execute without any error

for i in range(5):
  print(i)

else:
  print("Done!")

0
1
2
3
4
Done!

In [ ]:
# EX11: Write a program to diaply all prime numbers within a range
"""
Note: 
A prime number is a number that cannot be made by multiplying other all numbers
A prime number is a natural number greater than 1 that is not a product of two smaller
natural numbers
A prime number is only dividing by itself and 1
Examples: 
  - 6 is not a prime number beacause it can be made by 2 x 3 = 6
  - 37 is a prime number because no other whole numbers multiply together to make it

Given:
  range:
    start = 25
    end = 50

Expected output:
29
31
37
41
43
47
"""

# min = int(input("Enter the min number: "))
# max = int(input("Enter the max number: "))

# using the given data:
start = 25
end = 50

for n in range(start, end +1):
  for i in range(2, n):
    if n % i == 0:
      break
  else:
    print(n, end = '\n\n')

29

31

37

41

43

47

In [ ]:
# EX12: Display Fibonacci series up to 10 terms
"""
Fibnoacci Sequence is a series number. the next number is found by adding up the 2 numbers before it.
The first two numbers are 0 and 1.
For example: 0,1,1,2,3,5,8,13,21.
The next number in this series above  13 + 21 = 34

Expected output:
0 1 1 2 3 5 8 13 21 34
| | |
n x res
"""

n = 0
x = 1
res = 0

while x < 50:
    if n == 0 :
      print(n, end = ' ')
    print(x, end = ' ')
    res = n + x
    n = x
    x = res

0 1 1 2 3 5 8 13 21 34

In [ ]:
# EX13: Find the factorial of a given number
"""
write a program to use the loop to find the factorial of a given number.
The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.
For example: calculate the factorial of 5
5! = 5 x 4 x 3 x 2 x 1 

Expected output: 120
"""

n = int(input("Enter a number: "))
factorial_n = 1
while (n > 0):
  factorial_n *= n
  n -= 1

print(factorial_n)

Enter a number: 5
120

In [ ]:
# EX14: Reverse a given integer number 
"""
Given: 76542
Expected Output: 24567
"""

num = 76542
# using map()
# to convert number to list of integers
lst_num = list(map(int, str(num)))
for i in range(len(lst_num)-1, -1, -1):
  print(lst_num[i], end = '')

24567

In [ ]:
# EX15: Use a loop to display elements from a given list present at odd index positions
"""
Given:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

Note: list index always starts at 0

Expected output:
20 40 60 80 100
"""

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(0, len(my_list)):
  if i % 2 == 0 :
    continue
  else:
    print(my_list[i], end = ' ')

20 40 60 80 100

In [ ]:
# EX16: Calculate the cube of all numbers from 1 to a given number
"""
Write a program to rint the cube of all numbers from 1 to a given number

Given:
int_number = 6

Expected Output:
Current Number is : 1 and the cube is 1
Current Number is : 2 and the cube is 8
Current Number is : 3 and the cube is 27
Current Number is : 4 and the cube is 64
Current Number is : 5 and the cube is 125
Current Number is : 6 and the cube is 216
"""
int_number = 6

for i in range(1, int_number+1):
  print("Current Number is : {0} and the cube is {1}".format(i, i*i*i))

Current Number is : 1 and the cube is 1
Current Number is : 2 and the cube is 8
Current Number is : 3 and the cube is 27
Current Number is : 4 and the cube is 64
Current Number is : 5 and the cube is 125
Current Number is : 6 and the cube is 216

In [ ]:
# EX17: Find the sum of the series up to n terms
"""
Write a program to calculate the sum of series up to n term.
For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690 

Given:
# number of n terms
n = 5

Expected Output:
24690
"""

number_of_terms = 5
sum_val = 0
for i in range (1, number_of_terms + 1):
    num = eval('2'*i)
    sum_val += num
print(sum_val)

24690

In [ ]:
# EX18: Print the following pattern
"""
write a program to print the following start pattern using for loop
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
"""

shape = '* '
for i in range(1, 6):
  print(shape * i)
  if(i == 5):
    for j in range(6, 0, -1):
      print(shape * j)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*